.photo {
  min-height: 300px;
  height: 60vh;
}

.game-level {
  margin: 0 auto;
  min-width: 280px;
  max-width: 500px;
  width: 100%;

  .level-header {
    font-size: 1.17em;
    font-weight: bold;
    margin: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .info-tooltip {
      margin-left: 12px;
      display: flex;
      align-items: center;
    }
  }

  .score-header {
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    padding: 6px 12px;
    justify-content: space-between;

    .timer {
      display: flex;
      align-items: center;
      mat-icon {
        margin-right: 4px;
      }
    }
  }

  .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container {
      padding-top: 12px;
    }

    .photo {
      box-shadow: 5px 3px 5px 1px rgba(0, 0, 0, 0.1);
    }

    button.submit-answer {
      margin-left: 8px;
    }

    button.next-question {
      margin-left: 4px;
    }
  }

  .hint {
    p {
      font-style: italic;
    }
    p, button {
      color: #5d6a82;
    }
  }
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .answer-status {
    &.CORRECT {
      color: green;
    }
    &.WRONG {
      color: red;
    }
  }
}

.game-over-container {
  display: flex;
  flex-direction: column;
  .photo {
    margin-bottom: 16px;
  }
}
