.info-tooltip {
  float: right;
  margin-top: 12px;
}

.photo {
  min-height: 300px;
  height: 60vh;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-container {
    padding-top: 20px;
  }

  button.submit-answer {
    margin-left: 15px;
  }
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .answer-status {
    &.CORRECT {
      color: green;
    }
    &.WRONG {
      color: red;
    }
  }
}
