/* You can add global styles to this file, and also import other style files */

@import './theme';

body {
  font-family: 'Jost', serif;
  color: #051039;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}

h1 {
  font-size: 1.8em;
  margin: 12px 0;
}

h2, h3 {
  margin: 10px 0;
}

h4, h5 {
  margin: 8px 0;
}

h5 {
  font-size: 0.9em;
}

.display-flex {
  display: flex;
}
